@use'../abstracts' as *;

body{
    font-family: 'Urbanist', sans-serif;
    // font-weight:500; 
    margin:0;
  }
/*header starts here */
.headerclass {
    width:100%;
    
    background: $clr-hot;
    position:fixed;
    z-index: 999;
    text-align:center;

    .logo {
        .brmsLogoContainer {
            display: grid;
            place-items: center;
            
            .brmsTitle {
                width: 100px;
                position: relative;
                img {
                    position: absolute;
                    top: 50%;
                    width: 35%;
                    transform: translate(-270%, -50%);                
                }
                .subtitle{
                    position: absolute;
                    top:0;
                    width:300px;
                    color: black;
                    transform: translate(-50px, 55px);      
                    font-size: .7rem;          
                }
            }
        }
    
      }
    
      nav{
        position:absolute;
        text-align:left;
        top:100%;
        background: $clr-warm;
        width:100%;
        
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    
        ul {
            list-style:none;
            margin:0;
            padding:0;  
        }    
    
        li {
            margin-top: 1em;
            margin-left: 2em;
            margin-bottom: 1em;
            position: relative;

            .hIcon {
                position:absolute;                
                transform: translate(-100%, 5%);   
                width: 1em;
                display: block;                
            }
            a{
                text-transform: uppercase;
                font-family: 'Cabin', sans-serif;
                font-size: 1rem;
                color: rgb(56, 39, 30);
                margin-left: 1em;
            }
            :hover {
                color:$clr-title;
                cursor:pointer;
            }
        }
    
        a {
            opacity:0;
            transform: scale(1,0);
            transition: opacity 150ms ease-in-out;
        }  
      }
    
      

      .nav-toggle{
        display:none;
      }
      
      .nav-toggle:checked ~ nav{  
        transform: scale(1,1);
        
      }
      .nav-toggle:checked ~ nav a{
        opacity:1;
        transition: all .1s ease-in-out .200s ; 
      }
      
      
    
      
      
      .nav-toggle-label{
        position:absolute;
        top:0;
        left:0;
        margin-left: 1em;
        height:100%;
        display:flex;
        place-items:center;  
      }
      .label-span, 
      .label-span::before,
      .label-span::after {
        height:4px;
        width:30px;
        border:1px solid black;
        background:black;
        border-radius:20%;
      }
      .label-span::before,
      .label-span::after{
        position:absolute;
        content: '';
        left: 0px;
      }
      .label-span::before{
        top: 30px;  
      }
      .label-span::after{
        bottom: 30px;
      }
      .label-span:hover,
      .label-span:hover::after,
      .label-span:hover::before{
        cursor:pointer;
        border:1px solid $clr-title;
        background: $clr-title;  
      }    
}

  
  @media screen and (min-width:800px) {
    .headerclass {
        display:grid;
        grid-template-columns: auto auto auto auto;
        place-items: center;
        // *{
        //  outline : 1px solid; 
        // }
        .nav-toggle-label{
            display:none;
          }
          
          nav{
            all:unset;
            grid-column: 3/4;
            display: flex;
            justify-content: flex-end;
            place-items:center;    
          }
          .logo{
            grid-column: 2/3;
          }
          nav li{
            margin-top: 0;
            margin-left: 3em;
            margin-bottom: 0;
          }
          nav li .hIcon {
              display: none;
          }
          nav ul {
            display: flex;
            justify-content: flex-end;
          }
          nav a {
            opacity:1;
            position:relative;
          }
          nav a::before {
            position:absolute;
            content:'';
            height:4px;
            width:100%;    
            top:-10px;
            right:0;
            background:black;    
            transform:scale(0,1);
            transition: transform ease-in-out 250ms;
          }
          nav a:hover::before {
            transform:scale(1,1);
          }        
    }      

  }