@use'../abstracts' as *;

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

.test {
    font-family: 'arial';
    color: white;
    font-weight: 300;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;

    .test ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: 'arial';
    color: white;
    font-weight: 300;
    }
    .test :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'arial';
    color: white;
    opacity: 1;
    font-weight: 300;
    }
    .test ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'arial';
    color: white;
    opacity: 1;
    font-weight: 300;
    }
    .test :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'arial';
    color: white;
    font-weight: 300;
    }
    .required {
    border: 1px solid #ff0000;
    color:#ff0000;
    }
    /***** Login page css start *****/
    .wrapper {
    background: #0c499b ;
    background: #0c499b ;
    background: #0c499b ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
    .wrapper.form-success .container h1 {
    -webkit-transform: translateY(85px);
            transform: translateY(85px);
    }
    .container {
    max-width: 430px;
    margin: 0 auto;
    padding: 3% 0; 
    height: auto;
    text-align: center;
    width:100%;
    }
    .wrapper.form-success .container h1 {
    -webkit-transform: translateY(85px);
            transform: translateY(85px);
    }
    .form-elements {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 50px 0;
    }
    .logo {
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    }
    form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
    }
    form input {
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 280px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    font-weight: 300;
    }
    form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
    }
    form input:focus {
    background-color: white;
    width: 300px;
    color: #0c499b;
    }
    form button {
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    outline: 0;
    background-color: #0c499b;
    border: 0;
    padding: 10px 15px;
    color: #fff;
    border-radius: 3px;
    width: 280px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    }
    form button:hover, form button:visited {
    background-color: #f5f7f9;
    color: #0c499b;
    }
    /***** bubble square css start *****/
    .bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    }
    .bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    }
    .bg-bubbles li:nth-child(1) {
    left: 10%;
    }
    .bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 17s;
            animation-duration: 17s;
    }
    .bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    }
    .bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
            animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
    }
    .bg-bubbles li:nth-child(5) {
    left: 70%;
    }
    .bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
    }
    .bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
    }
    .bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
    }
    .bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
    }
    .bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
            animation-delay: 11s;
    }
    @-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
                transform: translateY(-700px) rotate(600deg);
    }
    }
    @keyframes square {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
                transform: translateY(-700px) rotate(600deg);
    }
    }
    /***** bubble square css end *****/

    /***** Login page css end *****/

    /***** Inner page css start *****/
    .inner-page header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    }
    .inner-page .header-main {
    background-color: #ededed;
    padding: 10px;
    }
    .inner-page .header-logo {
    float: left;
    width: 300px;
    }
    .inner-page .log-out .aam-button {
    background-color: #0c499b;
    border: 1px solid #0c499b;
    color: #fff;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    /* margin-right: 20px; */
    padding: 5px 20px;
    text-decoration: none;
    margin-top:35px;
    }
    .inner-page .log-out .aam-button:hover {
    background-color: #bec3d9;
    color: #0c499b;
    }
}
// /***** Inner page css end *****/